.footer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 250px;
  padding-top: 60px;
  padding-bottom: 30px;
}
