.footer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
  line-height: 21.78px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 50px;
  margin-left: 100px;
  padding-bottom: 50px;
  padding-left: 25px;
}
