.header {
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 10px;
  margin-top: 17px;
  border: none;
}
.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.profile__title {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  grid-area: title;
  margin-bottom: 0px;
  margin-left: 30px;
}

.profile__description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  grid-area: description;
  margin-top: 0px;
  margin-left: 30px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 0px;
  margin-bottom: 20px;
}
